
.container{
    background-color: rgb(255, 255, 255); 
    height: 100%;  
    width: 100%; 
display:flex;
flex-direction: row-reverse;
flex-shrink:0;


 }

.landingpage{
   width:700px;
   height:920px;
   flex-shrink:0; 
   
}

.maintext{
  background-color: rgb(5, 100, 80);
  width:65%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  flex-wrap:nowrap;
  flex-shrink:0; 
      
  }

.header1{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 100px;
  
}

.header2{
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 30px;
  
}

.button-box{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  background-color: ;
  width:750px;
  height:400px;


}

.button-grid1{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 500px;
  height: auto;
  background-color: ;
}

.button-grid2{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 500px;
  height: auto;
  background-color: ;

  
}

.button1{
  color:black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40px;
  padding: 8px;
  background-color: white;
  width: 150px;
  height:auto;
  border-color: rgb(0, 0, 0) ;
  border-style:groove;
    
}

.button2{
  color:black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40px;
  padding: 8px;
  background-color: white;
  width:220px;
  height:auto;
  border-color: rgb(0, 0, 0) ;
  border-style:groove;
  
  
}

.button3{
  color:black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40px;
  padding: 8px;
  background-color: white;
  width:200px;
  height:auto;
  border-color: rgb(0, 0, 0) ;
  border-style:groove;
  
}

.button4{
  color:black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40px;
  padding: 8px;
  background-color: white;
  width:200px;
  height:auto;
  border-color: rgb(0, 0, 0) ;
  border-style:groove;
  
}



*,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  