

header{
background-color: black;  
height: auto;  
color: rgb(255, 255, 255);
text-align:center;
font-size:40px;
font-family:Georgia, 'Times New Roman', Times, serif;

}

.main{
    background-color: rgb(49, 11, 11); 
    height: auto;  
    width: auto; 
 
}

.navtopli{
    display:inline-block;
    padding: 3%;
    align-content:center;
}

footer{
  display:flex;  
  background-color: rgb(31, 2, 11);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    color:white;
    flex-direction: row-reverse;
    justify-content: space-between;
}

*,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.landingpage{
    display:grid;
        grid-template-columns: 650px 75%;
    color: white;
    font-size: 40px;
    align-content: center;

  }



